In [1]:
import pandas as pd
import sagemaker

In [10]:
try:
    raw_data = pd.read_csv('./bank-additional-full.csv',index_col=0)
    print('Success: Data loaded bank-additional-full.csv into dataframe.')
    
    print('')
except Exception as e:
    print('Data load error: ',e)
    print('')

Success: Data loaded bank-additional-full.csv into dataframe.

In [12]:
raw_data[:5]

,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,,,,,,,,,,,,,,,,,,,,
56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [14]:
import sagemaker

prefix = 'sagemaker/Autopilot-demo/input'
sess   = sagemaker.Session()

uri = sess.upload_data(path="./bank-additional-full.csv", key_prefix=prefix)
print(uri)

s3://sagemaker-us-east-1-252909700146/sagemaker/Autopilot-demo/input/bank-additional-full.csv